body
{
    
}

.mainContainer
{
    width: 20em;
    border: 0.2em solid black;
    padding: 0.5em;
    border-radius: 2em;
}

.columnContainer
{

}

.columnContainer h1
{
    text-align: center;
    margin: 0;
}

.card
{

}

.insertForm
{
    position: absolute;
    z-index: 999;
    background: red;
    border: 5px solid black;
    border-radius: 2em;
    padding: 0.5em;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 40em;
    height: 30em;
    text-align: center;
    display: none;
}

.insertForm.open
{
    display: block;
}

.insertForm input
{
    display: block;
    margin: 1em auto 1em auto;
}

.insertForm textarea
{
    width: 80%;
    padding: 2em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    display: block;
    margin: 1em auto;
}

#insertBtn
{
    width: 100%;
}

.card
{
    background: gray;
    border: 3px solid black;
    border-radius: 2em;
    padding: 1em;
    padding-top: 0;
    margin-bottom: 0.5em;
}

.card h2
{
    margin-bottom: 0;
}

.card button
{
    margin: auto;
    width: 45%;
    display: inline-block;
    text-align: center;
}